@charset "UTF-8";

.contents95 {min-width:500px; width:95%; margin:0 auto;}
.contents90 {min-width:740px; width:90%; margin:0 auto;}
.contents80 {min-width:740px; width:80%; margin:0 auto;}

.basicBox90 {width: 90%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox80 {width: 80%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox70 {width: 70%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox60 {width: 60%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}

.modal {display: flex; align-items: center; justify-content: center;}

.hidden {display: none;}

.preview {height: 300px; width: 500px; position: relative;}
.preview img {max-width: 100%; max-height: 100%; width: auto; height: auto; top: 50%; left: 50%; translate: (-50%, -50%);}

.slick-prev:before, .slick-next:before {color: black;}

a{text-decoration: none;}