@charset "UTF-8";

.contents95 {min-width:500px; width:95%; margin:0 auto;}
.contents90 {min-width:500px; width:90%; margin:0 auto;}
.contents80 {min-width:500px; width:80%; margin:0 auto;}
.contents70 {min-width:500px; width:70%; margin:0 auto;}
.contents60 {min-width:500px; width:60%; margin:0 auto;}

.basicBox90 {width: 90%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox80 {width: 80%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox70 {width: 70%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}
.basicBox60 {width: 60%; border-radius: 15px; box-shadow: 1px 1px 2px 2px #dedede; background-color: white; padding: 20px 20px; margin:0 auto; margin-top: 120px; margin-bottom: 70px;}

.modal {display: flex; align-items: center; justify-content: center;}

.hidden {display: none;}

.preview {height: 300px; width: 500px; position: relative;}
.preview img {max-width: 100%; max-height: 100%; width: auto; height: auto; top: 50%; left: 50%; translate: (-50%, -50%);}

.slick-prev:before, .slick-next:before {color: black;}

a{text-decoration: none;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

/* view */
.shop-header {
    border-bottom: 1px solid #e9e9e9de;
    padding-bottom: 10px;
}

.shop-header .title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.shop-body {
    padding: 20px 20px;
    font-size: 17px;
    border-bottom: 1px solid #e9e9e9de;
}

.shop-body .imageArea{
    margin: 100px auto;
    text-align: center;
    width: 70%;
    height: 400px;
}

.shop-body .imageArea img{
    margin: 0 auto;
    max-width: 600px;
    max-height: 400px;
    cursor: pointer;
}

.table-view {
    /* border: 1px solid black; */
    width: 50%;
}

.table-view tr {
    height: 40px;
}

.table-view td {
    vertical-align: top;
}

.table-view .column{
    color: rgba(155, 155, 155, 1);
}

.table-view .content{
    height: 200px;
}

#viewImageDim {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#viewImageDim.on { display: block;}
#viewImageDim .slick-prev {left: -65px;}
#viewImageDim .slick-next {right: -40px;}
#viewImageDim .slick-prev:before, #viewImageDim .slick-next:before {font-size: 50px;}

.viewImageBox {
    z-index: 11;
    position: fixed;
    width: 1000px;
    height: 600px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.viewImageBox img {
    max-width: 1000px;
    max-height: 600px;
    width: auto;
    height: auto;
    margin: 0 auto;
    /*position: absolute; top: 50%; left: 50%; translate: (-50%, -50%);*/
}

.viewImageClose {
    cursor: pointer;
    z-index: 11;
    color: white;
    position: absolute;
    top: 0px;
    right: -70px;
    
}

.favorit {
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 50px;
    text-align: center;
    color: #9b9b9b;
}
.favorit:hover {
    color: #FF7012;
    cursor: pointer;
}
.favorit.on {
    color: #FF7012;
}


#loginDim {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#loginDim.on {
    display: block;
}

.loginPop {
    z-index: 11;
    position: fixed;
    width: 370px;
    height: 500px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 101px 52px 98px;
}

.loginPopClose {
    cursor: pointer;
    z-index: 11;
    color: rgb(95, 91, 91);
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.loginBtn {
    cursor: pointer;
    border: 0;
    width: 256px;
    height: 51px;
    margin: 0 auto 12px;
    font-size: 14px;
    line-height: 51px;
    border-radius: 48px;
}
.kakao {
    color: #66514c;
    background-color: #ffe809;
}

.logout {
    color: #ffffff;
    background-color: #000000;
}

.myShop {
    color: #ffffff;
    background-color: #FF7012;
}