@charset "UTF-8";

html, body {margin:0; padding:0; height: 100%;}

.loader {display: none;}

.loader.on {
	display:block;
	background-color: rgba(255, 255, 255, 1);
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.loader.on img {
	z-index: 10000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#root {
	width: 100%;
	height: 100%;
}
